__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
models/
audio/
*.mp3
*.png
*.wav

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Node.js
node_modules/

# Build output
build/
dist/

# React
.DS_Store